body {
    color: gray;
    font-family: Roboto;
}



.product {
    font-weight: 900;
}

.price {
    font-weight: 600;
}

.old {
    text-decoration: line-through;
    color: rgb(169, 169, 169);
}

.sale {
    color: rgb(203, 26, 26);
}
.extra {
    color: green;
    font-weight: 500;
}