.class {
    display: inline-block;
}

body {
    font-family: Geologica;
}

.new{
    color: darkred;
    display: inline-block;
}

.new2 {
    color: darkred;
    display: inline-block;
    padding-inline-start: 200px;
}

.subtitle {
    font-weight: bolder;
    display: inline-block;
}

.subtitle2 {
    font-weight: bolder;
    display: inline-block;
    padding-inline-start: 190px;
}

.strikeout , .strikeout2 {
    color: darkred;
    text-decoration: line-through;
    display: inline-block;
}

.current , .current2 {
    font-weight: bolder;
    display: inline-block;
}

.left {
    display: inline-block;
}

.right {
    display: inline-block;
    padding-inline-start: 195px;
}

.left2 {
    display: inline-block;
}

.right2 {
    display: inline-block;
    padding-inline-start: 180px;
    font-size:small;
}

.colors , .colors2 {
    color: gray;
    font-size: small;
    display: inline-block;
}

.colors2 {
    padding-inline-start: 250px;
}
