.content_area {
    border: 5px solid coral;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


main {
    border: 5px solid purple;
    margin: 5px;
}

aside {
    border: 5px solid rgb(0, 255, 183);
    margin: 5px;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.image {
    display: grid;
}