.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    justify-content: left;
    gap: 25px;
    margin: 25px;
}

.project {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    border: 1px solid rgb(233, 221, 221);
    padding: 25px;
    border-radius: 30px;
    background-color: rgb(233, 221, 221);
}

.project:hover {
    background-color: rgb(255, 179, 179);
    transition-duration: 2s;
}

.large_section {
    position: relative;
    top: 100px;
}

.large_pic img {
    min-height: 200%;
}
