* {
    margin: auto;
    padding: auto;
}

body {
    font-family: Roboto;
    color: black;
    background-color: rgb(53, 53, 53);
}

.logo {
    width: 50px;
}

a, .contact_button {
    font-size: 18px;
    font-weight: 500px;
    text-decoration: none;
}

.header_image img {
    max-height: 50%;
    width: 100%;
}

.navbar {
    display: flex;
    background-color: rgb(110, 110, 110);
    height: 70px;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color:rgb(255, 255, 255)
}

.nav_list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
}

.nav_list a {
    color: rgb(187, 187, 187);
}

.nav_list a:hover {
    color: rgb(0, 0, 0);
}

.contact_button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(196, 41, 36);
    color: rgb(187, 187, 187);
    border: none;
}

.contact_button:hover {
    background-color: rgb(187, 187, 187);
    color: rgb(196, 41, 36);
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
}
